/*Use a Google font of your choice for the webpage. If you are not interested in sourcing one 
or adding a personal touch, you can use 'Open Sans' - bold and regular.*/
html {
font-family: 'Playfair Display', serif;
box-sizing: border-box;
width: auto;
}
/*The maximum width of the container is 1280px. This would be applied to each section 
(preferably using a reusable class like 'wrapper').*/


header { 
    background-color: #0E1215;
    color: white; 
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    width: 1280px;
}
header > img {
    width: 1280px;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;
    margin: 15px;
    padding: 0%;
}
.Introduction{
    display: grid;
    grid-template-rows: 50px;
    margin: 20px;
}
.AboutMe {
    display: flex;
    font-size: 20px;
    padding: 0%;
}
.whaticandoforyou > h2 {
    text-align: center;
    padding-top: 40px;
}
.whaticandoforyou {
    background-color: whitesmoke;
    width: 1280px;
    padding-bottom: 50px;
    margin-left: 50px;
}
.options {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
}
.Services {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px;
    background-color: white;
}
.learnmore {
    color: white;
    background-color: black;
    border-radius: 1px;
    width: 28%;
}
.Mywork {
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5%;
    padding-bottom: 60px;
}
.Mywork > p {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
}

.citations {
    color: white;
    text-align: center;
    background-color: #0E1215;
    padding: 30px;
}
.quotes {
    color: white;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.imglogo {
    width: 25px;
    display: flex;
    margin-top: 30px;
    padding-left: 650px;
}
.contactme {
    text-align: center;
}
.footerstrip {
    background-color: #0E1215;
    color: white;
}